<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.interview.mapper.InterviewMapper">
    
    <insert id="insertSession">
        INSERT INTO interview_session (interview_id, user_id, role, difficulty, status, start_time)
        VALUES (#{interviewId}, #{userId}, #{role}, #{difficulty}, '进行中', NOW())
   </insert>
    
    <update id="finishSession">
        UPDATE interview_session SET status = '已结束', end_time = NOW() WHERE interview_id = #{interviewId}
    </update>

    <insert id="addChatMessage">
        INSERT INTO chat_message (interview_id, user_id, question_id, user_answer, ai_feedback, score, create_time)
        VALUES (#{interviewId}, #{userId}, #{questionId}, #{userAnswer}, #{aiFeedback}, #{score}, NOW())
    </insert>

    <insert id="insertReport">
        INSERT INTO interview_report (interview_id, user_id, total_score, conclusion, dimensions, strengths, weaknesses, suggestion, create_time)
        VALUES (#{interviewId}, #{userId}, #{totalScore}, #{conclusion}, #{dimensions}, #{strengths}, #{weaknesses}, #{suggestion}, NOW())
    </insert>
</mapper>
